/* general */
html {
  width: 100%;
}

html, body {
  background: rgba(72, 120, 168, 0.5);
  font: 13px Helvetica, Arial, sans-serif;
}

body {
  min-width: 790px;
  width: 95%;
  margin: 1em auto;  
}

a:focus {
  background: rgba(72, 120, 168, 0.2);
}

abbr {
  color: red;
}

article form li{
  list-style-type: none;
}

textarea {
  height: 100px;
  width: 100%;
}



/* header */
body > section > header {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

body > section > header h1 a, body > section > header h1 a:visited {
  color: #000;
  text-decoration: none;
  font-size: 8em;
}

body > section > header h2 {
  font-size: 1.9em;
  color: #999;
  margin-left: 6.5em;
}



/* nav */
nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
}

nav a, nav a:visited {
  font-size: 2em;
  color: rgba(72, 120, 168, 1);
}



/* section and article styling */
body > section > article {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
  padding-top: 1em;
}

body > section {
  position: relative;
  padding: 0.5em 1em 1.5em;
  background: #fff;
  border: 1px solid #ccc;
}



/* app show */
div#app_contents {
  overflow: hidden;
}

div.description {
  float: left;
}

div.description h1 {
  font-size: 2.5em;
  color: rgba(72, 120, 168, 1);
}

dl#app_definition {
  float: right;
  width: 300px;
  text-align: right;
  padding: 0.5em 0em 0.5em 1em;
  border-left: 1px solid #ccc;
}

dl#app_definition dt {
  margin: 0.5em 0em 0em;
  font-size: 13px;
  color: #888;
}

dl#app_definition dd {
  margin: 0em 0em 0.5em;
}



/* comments */
fieldset.comments {
  margin-top: 3em;
  border-top: 1px solid #ccc;
}

fieldset.comments legend {
  font-size: 13px;
  padding: 0em 0.5em;
  color: #888;
}

fieldset.comments label {
  display: block;
}

fieldset.comments textarea, fieldset.comments input {
  background-color: rgba(72, 120, 168, 0.2);
  border: 0px;
}

fieldset.comments ul {
  padding: 1em;
}

#new_comment {
  border-top: 1px solid #ccc;
  padding-top: 1em;
}



/* new app form*/
form#new_app li {
  padding: 0.4em 0em;
}

form#new_app li .inline-hints {
  display: inline-block;
  color: #888;
  font-size: 15px;
}

form#new_app li label {
  display: inline-block;
  font-size: 16pt;
  width: 8em;
}

form#new_app input, form#new_app textarea {
  padding: 0.25em;
  border: 0px;
  background: rgba(72, 120, 168, 0.2);
  font-size: 16pt;
}

form li#app_description_input {
  margin-bottom: 2em;
}

form li#app_description_input label {
  display: block;
  margin-bottom: 0.25em;
}

form li#app_description_input textarea {
  display: block;
}



/* footer */
footer {
  color: #fff;
  padding: 0.5em 1em;
  text-align: right;
}

footer a, footer a:visited {
  color: #fff;
}