  <h1>for the win</h1>
  <p>an app that is win</p>

  <% if @app != nil then @app.each do |app| %>
    <section>
      <p><%= app.title %></p>
      <p><%= app.description %></p>
      <p><%= app.source %>
    </section>
  <% end end %>